.Rproj.user
.Rhistory
.RData
.Ruserdata
curso.shiny.Rproj
referencias/*
slides/slides.aux
slides/slides.log
slides/slides.nav
slides/slides.pdf
slides/slides.rnw
slides/slides.tex
slides/slides.R
slides/slides.snm
slides/slides.toc
slides/slides.vrb
exemplos/05-projeto/global.R
exemplos/05-projeto/server.R
exemplos/05-projeto/ui.R
*.out
